@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">WELCOME, WELCOM TO THE LAB!</h1>
    
</div>

<style>
    .displaySection {
        background-color: unset;
        margin-bottom: 4%;
        float: left;
        overflow: visible;
    }

    body {
        height: 100%;
        background: black;
        overflow: hidden;
    }

    .monsterDisplay{
        position:absolute;
        animation:unset;
    }
    .monsterDead{
       top:80%;
    }
    .monsterDisplay.monsterDead{
        /* animation:unset; */
        position:absolute;
    }
    .monsterDead .monsterBody{
            transform: rotate(90deg) translateY(-100%);
            position:relative;
            
        }
   
    .deadEye {
    font-size: 100% !important;
    height: 10%;
    text-align: center;
    width: 10%;
    position: absolute;
    top: 10%;
    left: 15%;
    font-weight: bolder;
}

</style>



<table class="table">

    <tbody>
        @{Random rnd = new Random();
        }

        @foreach (var item in Model)
        {   
            string tentacleRoot = "tentacleRoot";
            string tentacleRoot2 = "tentacleRoot2";

            string cssClassMonsterDisplay = item.Id % 2 == 0 ? "monsterDisplay" : "monsterDisplay monsterDisplayOdd";
            //get random left attribute
            string cssStyleMonsterDisplay=  "";
            int randomLeft  = rnd.Next(10, 60);


            //<div class="col-md-9 displaySection" style="height:100px; width:100px">

                @if(item.alive == false)
                {
                    cssClassMonsterDisplay += " monsterDead";
                    cssStyleMonsterDisplay ="left: " + randomLeft + "%";
                    tentacleRoot = "tentacleRootDead";
                    tentacleRoot2 = "tentacleRootDead2";

                }
            

                <div class="@cssClassMonsterDisplay" id = "@item.Id" style="height:300px; width:300px; @cssStyleMonsterDisplay">

                    <div class= "monsterBody" style="background-image: radial-gradient(rgb(@item.InnerRed , @item.InnerGreen, @item.InnerBlue )30% , rgb( @item.OuterRed, @item.OuterGreen, @item.OuterBlue)); border-radius: @item.TopRoundness% @item.TopRoundness% @item.BottomRoundness% @item.BottomRoundness%; height:@item.Height%;width:@item.Width% ">
                        <div class="monsterEyerow" style=" top: @item.EyeHeight%">

                            @for (int i = 0; i < item.EyeNumber; i++)
                            {
                                <div class="eye">
                                    @if (item.alive == false)
                                    {
                                        <div class="deadEye">X</div>
                                    }
                                    else
                                    {
                                        <div class="iris"></div>
                                    }
                                </div>

                            }

                        </div>
                        <div class="monsterMouth" style="width: @item.MouthWidth%;">
                            <div class="topRow">
                                <div class="teeth"></div>
                                <div class="teeth"></div>
                                <div class="teeth"></div>
                                <div class="teeth"></div>
                                <div class="teeth"></div>
                                <div class="teeth"></div>
                            </div>

                            <div class="bottomRow">
                                <div class="teethB"></div>
                                <div class="teethB"></div>
                                <div class="teethB"></div>
                                <div class="teethB"></div>
                                <div class="teethB"></div>
                                <div class="teethB"></div>
                            </div>
                        </div>
                        <div class="tentacles">

                            <div class="@tentacleRoot" style="background-image: radial-gradient(rgb(@item.InnerRed , @item.InnerGreen, @item.InnerBlue )30% , rgb( @item.OuterRed, @item.OuterGreen, @item.OuterBlue)">
                                <div class="tentaclePart" style="background-image: radial-gradient(rgb(@item.InnerRed , @item.InnerGreen, @item.InnerBlue )30% , rgb( @item.OuterRed, @item.OuterGreen, @item.OuterBlue)">
                                    <div class="tentaclePart" style="background-image: radial-gradient(rgb(@item.InnerRed , @item.InnerGreen, @item.InnerBlue )30% , rgb( @item.OuterRed, @item.OuterGreen, @item.OuterBlue)">
                                        <div class="tentaclePart" style="background-image: radial-gradient(rgb(@item.InnerRed , @item.InnerGreen, @item.InnerBlue )30% , rgb( @item.OuterRed, @item.OuterGreen, @item.OuterBlue)">
                                            <div class="tentaclePart" style="background-image: radial-gradient(rgb(@item.InnerRed , @item.InnerGreen, @item.InnerBlue )30% , rgb( @item.OuterRed, @item.OuterGreen, @item.OuterBlue)">
                                                <div class="tentaclePart" style="background-image: radial-gradient(rgb(@item.InnerRed , @item.InnerGreen, @item.InnerBlue )30% , rgb( @item.OuterRed, @item.OuterGreen, @item.OuterBlue)">
                                                    <div class="tentaclePart" style="background-image: radial-gradient(rgb(@item.InnerRed , @item.InnerGreen, @item.InnerBlue )30% , rgb( @item.OuterRed, @item.OuterGreen, @item.OuterBlue)">
                                                        <div class="tentaclePart" style="background-image: radial-gradient(rgb(@item.InnerRed , @item.InnerGreen, @item.InnerBlue )30% , rgb( @item.OuterRed, @item.OuterGreen, @item.OuterBlue)">
                                                            <div class="tentaclePart" style="background-image: radial-gradient(rgb(@item.InnerRed , @item.InnerGreen, @item.InnerBlue )30% , rgb( @item.OuterRed, @item.OuterGreen, @item.OuterBlue)">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="@tentacleRoot" style="background-image: radial-gradient(rgb(@item.InnerRed , @item.InnerGreen, @item.InnerBlue )30% , rgb( @item.OuterRed, @item.OuterGreen, @item.OuterBlue)">
                                <div class="tentaclePart" style="background-image: radial-gradient(rgb(@item.InnerRed , @item.InnerGreen, @item.InnerBlue )30% , rgb( @item.OuterRed, @item.OuterGreen, @item.OuterBlue)">
                                    <div class="tentaclePart" style="background-image: radial-gradient(rgb(@item.InnerRed , @item.InnerGreen, @item.InnerBlue )30% , rgb( @item.OuterRed, @item.OuterGreen, @item.OuterBlue)">
                                        <div class="tentaclePart" style="background-image: radial-gradient(rgb(@item.InnerRed , @item.InnerGreen, @item.InnerBlue )30% , rgb( @item.OuterRed, @item.OuterGreen, @item.OuterBlue)">
                                            <div class="tentaclePart" style="background-image: radial-gradient(rgb(@item.InnerRed , @item.InnerGreen, @item.InnerBlue )30% , rgb( @item.OuterRed, @item.OuterGreen, @item.OuterBlue)">
                                                <div class="tentaclePart" style="background-image: radial-gradient(rgb(@item.InnerRed , @item.InnerGreen, @item.InnerBlue )30% , rgb( @item.OuterRed, @item.OuterGreen, @item.OuterBlue)">
                                                    <div class="tentaclePart" style="background-image: radial-gradient(rgb(@item.InnerRed , @item.InnerGreen, @item.InnerBlue )30% , rgb( @item.OuterRed, @item.OuterGreen, @item.OuterBlue)">
                                                        <div class="tentaclePart" style="background-image: radial-gradient(rgb(@item.InnerRed , @item.InnerGreen, @item.InnerBlue )30% , rgb( @item.OuterRed, @item.OuterGreen, @item.OuterBlue)">
                                                            <div class="tentaclePart" style="background-image: radial-gradient(rgb(@item.InnerRed , @item.InnerGreen, @item.InnerBlue )30% , rgb( @item.OuterRed, @item.OuterGreen, @item.OuterBlue)">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="@tentacleRoot2" style="background-image: radial-gradient(rgb(@item.InnerRed , @item.InnerGreen, @item.InnerBlue )30% , rgb( @item.OuterRed, @item.OuterGreen, @item.OuterBlue)">
                                <div class="tentaclePart" style="background-image: radial-gradient(rgb(@item.InnerRed , @item.InnerGreen, @item.InnerBlue )30% , rgb( @item.OuterRed, @item.OuterGreen, @item.OuterBlue)">
                                    <div class="tentaclePart" style="background-image: radial-gradient(rgb(@item.InnerRed , @item.InnerGreen, @item.InnerBlue )30% , rgb( @item.OuterRed, @item.OuterGreen, @item.OuterBlue)">
                                        <div class="tentaclePart" style="background-image: radial-gradient(rgb(@item.InnerRed , @item.InnerGreen, @item.InnerBlue )30% , rgb( @item.OuterRed, @item.OuterGreen, @item.OuterBlue)">
                                            <div class="tentaclePart" style="background-image: radial-gradient(rgb(@item.InnerRed , @item.InnerGreen, @item.InnerBlue )30% , rgb( @item.OuterRed, @item.OuterGreen, @item.OuterBlue)">
                                                <div class="tentaclePart" style="background-image: radial-gradient(rgb(@item.InnerRed , @item.InnerGreen, @item.InnerBlue )30% , rgb( @item.OuterRed, @item.OuterGreen, @item.OuterBlue)">
                                                    <div class="tentaclePart" style="background-image: radial-gradient(rgb(@item.InnerRed , @item.InnerGreen, @item.InnerBlue )30% , rgb( @item.OuterRed, @item.OuterGreen, @item.OuterBlue)">
                                                        <div class="tentaclePart" style="background-image: radial-gradient(rgb(@item.InnerRed , @item.InnerGreen, @item.InnerBlue )30% , rgb( @item.OuterRed, @item.OuterGreen, @item.OuterBlue)">
                                                            <div class="tentaclePart" style="background-image: radial-gradient(rgb(@item.InnerRed , @item.InnerGreen, @item.InnerBlue )30% , rgb( @item.OuterRed, @item.OuterGreen, @item.OuterBlue)">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="@tentacleRoot2" style="background-image: radial-gradient(rgb(@item.InnerRed , @item.InnerGreen, @item.InnerBlue )30% , rgb( @item.OuterRed, @item.OuterGreen, @item.OuterBlue)">
                                <div class="tentaclePart" style="background-image: radial-gradient(rgb(@item.InnerRed , @item.InnerGreen, @item.InnerBlue )30% , rgb( @item.OuterRed, @item.OuterGreen, @item.OuterBlue)">
                                    <div class="tentaclePart" style="background-image: radial-gradient(rgb(@item.InnerRed , @item.InnerGreen, @item.InnerBlue )30% , rgb( @item.OuterRed, @item.OuterGreen, @item.OuterBlue)">
                                        <div class="tentaclePart" style="background-image: radial-gradient(rgb(@item.InnerRed , @item.InnerGreen, @item.InnerBlue )30% , rgb( @item.OuterRed, @item.OuterGreen, @item.OuterBlue)">
                                            <div class="tentaclePart" style="background-image: radial-gradient(rgb(@item.InnerRed , @item.InnerGreen, @item.InnerBlue )30% , rgb( @item.OuterRed, @item.OuterGreen, @item.OuterBlue)">
                                                <div class="tentaclePart" style="background-image: radial-gradient(rgb(@item.InnerRed , @item.InnerGreen, @item.InnerBlue )30% , rgb( @item.OuterRed, @item.OuterGreen, @item.OuterBlue)">
                                                    <div class="tentaclePart" style="background-image: radial-gradient(rgb(@item.InnerRed , @item.InnerGreen, @item.InnerBlue )30% , rgb( @item.OuterRed, @item.OuterGreen, @item.OuterBlue)">
                                                        <div class="tentaclePart" style="background-image: radial-gradient(rgb(@item.InnerRed , @item.InnerGreen, @item.InnerBlue )30% , rgb( @item.OuterRed, @item.OuterGreen, @item.OuterBlue)">
                                                            <div class="tentaclePart" style="background-image: radial-gradient(rgb(@item.InnerRed , @item.InnerGreen, @item.InnerBlue )30% , rgb( @item.OuterRed, @item.OuterGreen, @item.OuterBlue)">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="tentaclesBack" style="background-image: radial-gradient(rgb(@item.InnerRed , @item.InnerGreen, @item.InnerBlue )30% , rgb( @item.OuterRed, @item.OuterGreen, @item.OuterBlue)">

                            <div class="@tentacleRoot" style="background-image: radial-gradient(rgb(@item.InnerRed , @item.InnerGreen, @item.InnerBlue )30% , rgb( @item.OuterRed, @item.OuterGreen, @item.OuterBlue)">
                                <div class="tentaclePart" style="background-image: radial-gradient(rgb(@item.InnerRed , @item.InnerGreen, @item.InnerBlue )30% , rgb( @item.OuterRed, @item.OuterGreen, @item.OuterBlue)">
                                    <div class="tentaclePart" style="background-image: radial-gradient(rgb(@item.InnerRed , @item.InnerGreen, @item.InnerBlue )30% , rgb( @item.OuterRed, @item.OuterGreen, @item.OuterBlue)">
                                        <div class="tentaclePart" style="background-image: radial-gradient(rgb(@item.InnerRed , @item.InnerGreen, @item.InnerBlue )30% , rgb( @item.OuterRed, @item.OuterGreen, @item.OuterBlue)">
                                            <div class="tentaclePart" style="background-image: radial-gradient(rgb(@item.InnerRed , @item.InnerGreen, @item.InnerBlue )30% , rgb( @item.OuterRed, @item.OuterGreen, @item.OuterBlue)">
                                                <div class="tentaclePart" style="background-image: radial-gradient(rgb(@item.InnerRed , @item.InnerGreen, @item.InnerBlue )30% , rgb( @item.OuterRed, @item.OuterGreen, @item.OuterBlue)">
                                                    <div class="tentaclePart" style="background-image: radial-gradient(rgb(@item.InnerRed , @item.InnerGreen, @item.InnerBlue )30% , rgb( @item.OuterRed, @item.OuterGreen, @item.OuterBlue)">
                                                        <div class="tentaclePart" style="background-image: radial-gradient(rgb(@item.InnerRed , @item.InnerGreen, @item.InnerBlue )30% , rgb( @item.OuterRed, @item.OuterGreen, @item.OuterBlue)">
                                                            <div class="tentaclePart" style="background-image: radial-gradient(rgb(@item.InnerRed , @item.InnerGreen, @item.InnerBlue )30% , rgb( @item.OuterRed, @item.OuterGreen, @item.OuterBlue)">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="@tentacleRoot">
                                <div class="tentaclePart">
                                    <div class="tentaclePart">
                                        <div class="tentaclePart">
                                            <div class="tentaclePart">
                                                <div class="tentaclePart">
                                                    <div class="tentaclePart">
                                                        <div class="tentaclePart">
                                                            <div class="tentaclePart">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="@tentacleRoot">
                                <div class="tentaclePart">
                                    <div class="tentaclePart">
                                        <div class="tentaclePart">
                                            <div class="tentaclePart">
                                                <div class="tentaclePart">
                                                    <div class="tentaclePart">
                                                        <div class="tentaclePart">
                                                            <div class="tentaclePart">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="@tentacleRoot">
                                <div class="tentaclePart">
                                    <div class="tentaclePart">
                                        <div class="tentaclePart">
                                            <div class="tentaclePart">
                                                <div class="tentaclePart">
                                                    <div class="tentaclePart">
                                                        <div class="tentaclePart">
                                                            <div class="tentaclePart">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>

                </div>

            //</div>


        }
    </tbody>
</table>
<script src="~/js/homepagezoo.js" asp-append-version="true"></script>

