@model IEnumerable<jokesandjokes.Models.Monster>

@{
    ViewData["Title"] = "Index";
}

<style>
    .displaySection {
        background-color:unset;
        margin-bottom:4%;
        float:left;
        overflow:visible;
        margin:20px;

    }

    .monsterNameDisplay{
      background:black;
    }


</style>
<h1>THIS IS YOUR LAB</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<!-- <div class="table"> -->
   

@foreach (var item in Model) {   
string cssClassMonsterDisplay = item.Id % 2 == 0 ? "monsterDisplay" : "monsterDisplay monsterDisplayOdd";

    <div class="col-md-9 displaySection" style="height:100px; width:100px">

      <div class="monsterNameDisplay">
                    @item.Name

      </div>

                <div class="@cssClassMonsterDisplay" style="height:100%; width:100%">

                    <div class="monsterBody" style="background-image: radial-gradient(rgb(@item.InnerRed , @item.InnerGreen, @item.InnerBlue )30% , rgb( @item.OuterRed, @item.OuterGreen, @item.OuterBlue)); border-radius: @item.TopRoundness% @item.TopRoundness% @item.BottomRoundness% @item.BottomRoundness%; height:@item.Height%;width:@item.Width% ">
                        <div class="monsterEyerow" style=" top: @item.EyeHeight%">

         @for (int i = 0; i < item.EyeNumber; i++)
          {
            
            
            @if(item.alive == false){
              <div class="eye" style="background-color:unset">
              <div class="deadEye">X</div>
              </div>
            }
            else{
            <div class="eye">
            <div class="iris"></div>
            </div>
            }
           

          }           
          
        </div>
        <div class="monsterMouth" style="width: @item.MouthWidth%;">
          <div class="topRow">
            <div class="teeth"></div>
            <div class="teeth"></div>
            <div class="teeth"></div>
            <div class="teeth"></div>
            <div class="teeth"></div>
            <div class="teeth"></div>
          </div>
          
          <div class="bottomRow">
          <div class="teethB"></div>
            <div class="teethB"></div>
            <div class="teethB"></div>
            <div class="teethB"></div>
            <div class="teethB"></div>
            <div class="teethB"></div>
          </div>
        </div>
        <div class="tentacles">

                            <div class="tentacleRoot" style="background-image: radial-gradient(rgb(@item.InnerRed , @item.InnerGreen, @item.InnerBlue )30% , rgb( @item.OuterRed, @item.OuterGreen, @item.OuterBlue)">
                                <div class="tentaclePart" style="background-image: radial-gradient(rgb(@item.InnerRed , @item.InnerGreen, @item.InnerBlue )30% , rgb( @item.OuterRed, @item.OuterGreen, @item.OuterBlue)">
                                    <div class="tentaclePart" style="background-image: radial-gradient(rgb(@item.InnerRed , @item.InnerGreen, @item.InnerBlue )30% , rgb( @item.OuterRed, @item.OuterGreen, @item.OuterBlue)">
                                        <div class="tentaclePart" style="background-image: radial-gradient(rgb(@item.InnerRed , @item.InnerGreen, @item.InnerBlue )30% , rgb( @item.OuterRed, @item.OuterGreen, @item.OuterBlue)">
                                            <div class="tentaclePart" style="background-image: radial-gradient(rgb(@item.InnerRed , @item.InnerGreen, @item.InnerBlue )30% , rgb( @item.OuterRed, @item.OuterGreen, @item.OuterBlue)">
                                                <div class="tentaclePart" style="background-image: radial-gradient(rgb(@item.InnerRed , @item.InnerGreen, @item.InnerBlue )30% , rgb( @item.OuterRed, @item.OuterGreen, @item.OuterBlue)">
                                                    <div class="tentaclePart" style="background-image: radial-gradient(rgb(@item.InnerRed , @item.InnerGreen, @item.InnerBlue )30% , rgb( @item.OuterRed, @item.OuterGreen, @item.OuterBlue)">
                                                        <div class="tentaclePart" style="background-image: radial-gradient(rgb(@item.InnerRed , @item.InnerGreen, @item.InnerBlue )30% , rgb( @item.OuterRed, @item.OuterGreen, @item.OuterBlue)">
                                                            <div class="tentaclePart" style="background-image: radial-gradient(rgb(@item.InnerRed , @item.InnerGreen, @item.InnerBlue )30% , rgb( @item.OuterRed, @item.OuterGreen, @item.OuterBlue)">
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
                            <div class="tentacleRoot" style="background-image: radial-gradient(rgb(@item.InnerRed , @item.InnerGreen, @item.InnerBlue )30% , rgb( @item.OuterRed, @item.OuterGreen, @item.OuterBlue)">
                                <div class="tentaclePart" style="background-image: radial-gradient(rgb(@item.InnerRed , @item.InnerGreen, @item.InnerBlue )30% , rgb( @item.OuterRed, @item.OuterGreen, @item.OuterBlue)">
                                    <div class="tentaclePart" style="background-image: radial-gradient(rgb(@item.InnerRed , @item.InnerGreen, @item.InnerBlue )30% , rgb( @item.OuterRed, @item.OuterGreen, @item.OuterBlue)">
                                        <div class="tentaclePart" style="background-image: radial-gradient(rgb(@item.InnerRed , @item.InnerGreen, @item.InnerBlue )30% , rgb( @item.OuterRed, @item.OuterGreen, @item.OuterBlue)">
                                            <div class="tentaclePart" style="background-image: radial-gradient(rgb(@item.InnerRed , @item.InnerGreen, @item.InnerBlue )30% , rgb( @item.OuterRed, @item.OuterGreen, @item.OuterBlue)">
                                                <div class="tentaclePart" style="background-image: radial-gradient(rgb(@item.InnerRed , @item.InnerGreen, @item.InnerBlue )30% , rgb( @item.OuterRed, @item.OuterGreen, @item.OuterBlue)">
                                                    <div class="tentaclePart" style="background-image: radial-gradient(rgb(@item.InnerRed , @item.InnerGreen, @item.InnerBlue )30% , rgb( @item.OuterRed, @item.OuterGreen, @item.OuterBlue)">
                                                        <div class="tentaclePart" style="background-image: radial-gradient(rgb(@item.InnerRed , @item.InnerGreen, @item.InnerBlue )30% , rgb( @item.OuterRed, @item.OuterGreen, @item.OuterBlue)">
                                                            <div class="tentaclePart" style="background-image: radial-gradient(rgb(@item.InnerRed , @item.InnerGreen, @item.InnerBlue )30% , rgb( @item.OuterRed, @item.OuterGreen, @item.OuterBlue)">
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
                            <div class="tentacleRoot2" style="background-image: radial-gradient(rgb(@item.InnerRed , @item.InnerGreen, @item.InnerBlue )30% , rgb( @item.OuterRed, @item.OuterGreen, @item.OuterBlue)">
                                <div class="tentaclePart" style="background-image: radial-gradient(rgb(@item.InnerRed , @item.InnerGreen, @item.InnerBlue )30% , rgb( @item.OuterRed, @item.OuterGreen, @item.OuterBlue)">
                                    <div class="tentaclePart" style="background-image: radial-gradient(rgb(@item.InnerRed , @item.InnerGreen, @item.InnerBlue )30% , rgb( @item.OuterRed, @item.OuterGreen, @item.OuterBlue)">
                                        <div class="tentaclePart" style="background-image: radial-gradient(rgb(@item.InnerRed , @item.InnerGreen, @item.InnerBlue )30% , rgb( @item.OuterRed, @item.OuterGreen, @item.OuterBlue)">
                                            <div class="tentaclePart" style="background-image: radial-gradient(rgb(@item.InnerRed , @item.InnerGreen, @item.InnerBlue )30% , rgb( @item.OuterRed, @item.OuterGreen, @item.OuterBlue)">
                                                <div class="tentaclePart" style="background-image: radial-gradient(rgb(@item.InnerRed , @item.InnerGreen, @item.InnerBlue )30% , rgb( @item.OuterRed, @item.OuterGreen, @item.OuterBlue)">
                                                    <div class="tentaclePart" style="background-image: radial-gradient(rgb(@item.InnerRed , @item.InnerGreen, @item.InnerBlue )30% , rgb( @item.OuterRed, @item.OuterGreen, @item.OuterBlue)">
                                                        <div class="tentaclePart" style="background-image: radial-gradient(rgb(@item.InnerRed , @item.InnerGreen, @item.InnerBlue )30% , rgb( @item.OuterRed, @item.OuterGreen, @item.OuterBlue)">
                                                            <div class="tentaclePart" style="background-image: radial-gradient(rgb(@item.InnerRed , @item.InnerGreen, @item.InnerBlue )30% , rgb( @item.OuterRed, @item.OuterGreen, @item.OuterBlue)">
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
                            <div class="tentacleRoot2" style="background-image: radial-gradient(rgb(@item.InnerRed , @item.InnerGreen, @item.InnerBlue )30% , rgb( @item.OuterRed, @item.OuterGreen, @item.OuterBlue)">
                                <div class="tentaclePart" style="background-image: radial-gradient(rgb(@item.InnerRed , @item.InnerGreen, @item.InnerBlue )30% , rgb( @item.OuterRed, @item.OuterGreen, @item.OuterBlue)">
                                    <div class="tentaclePart" style="background-image: radial-gradient(rgb(@item.InnerRed , @item.InnerGreen, @item.InnerBlue )30% , rgb( @item.OuterRed, @item.OuterGreen, @item.OuterBlue)">
                                        <div class="tentaclePart" style="background-image: radial-gradient(rgb(@item.InnerRed , @item.InnerGreen, @item.InnerBlue )30% , rgb( @item.OuterRed, @item.OuterGreen, @item.OuterBlue)">
                                            <div class="tentaclePart" style="background-image: radial-gradient(rgb(@item.InnerRed , @item.InnerGreen, @item.InnerBlue )30% , rgb( @item.OuterRed, @item.OuterGreen, @item.OuterBlue)">
                                                <div class="tentaclePart" style="background-image: radial-gradient(rgb(@item.InnerRed , @item.InnerGreen, @item.InnerBlue )30% , rgb( @item.OuterRed, @item.OuterGreen, @item.OuterBlue)">
                                                    <div class="tentaclePart" style="background-image: radial-gradient(rgb(@item.InnerRed , @item.InnerGreen, @item.InnerBlue )30% , rgb( @item.OuterRed, @item.OuterGreen, @item.OuterBlue)">
                                                        <div class="tentaclePart" style="background-image: radial-gradient(rgb(@item.InnerRed , @item.InnerGreen, @item.InnerBlue )30% , rgb( @item.OuterRed, @item.OuterGreen, @item.OuterBlue)">
                                                            <div class="tentaclePart" style="background-image: radial-gradient(rgb(@item.InnerRed , @item.InnerGreen, @item.InnerBlue )30% , rgb( @item.OuterRed, @item.OuterGreen, @item.OuterBlue)">
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
                        <div class="tentaclesBack" style="background-image: radial-gradient(rgb(@item.InnerRed , @item.InnerGreen, @item.InnerBlue )30% , rgb( @item.OuterRed, @item.OuterGreen, @item.OuterBlue)">

                            <div class="tentacleRoot" style="background-image: radial-gradient(rgb(@item.InnerRed , @item.InnerGreen, @item.InnerBlue )30% , rgb( @item.OuterRed, @item.OuterGreen, @item.OuterBlue)">
                                <div class="tentaclePart" style="background-image: radial-gradient(rgb(@item.InnerRed , @item.InnerGreen, @item.InnerBlue )30% , rgb( @item.OuterRed, @item.OuterGreen, @item.OuterBlue)">
                                    <div class="tentaclePart" style="background-image: radial-gradient(rgb(@item.InnerRed , @item.InnerGreen, @item.InnerBlue )30% , rgb( @item.OuterRed, @item.OuterGreen, @item.OuterBlue)">
                                        <div class="tentaclePart" style="background-image: radial-gradient(rgb(@item.InnerRed , @item.InnerGreen, @item.InnerBlue )30% , rgb( @item.OuterRed, @item.OuterGreen, @item.OuterBlue)">
                                            <div class="tentaclePart" style="background-image: radial-gradient(rgb(@item.InnerRed , @item.InnerGreen, @item.InnerBlue )30% , rgb( @item.OuterRed, @item.OuterGreen, @item.OuterBlue)">
                                                <div class="tentaclePart" style="background-image: radial-gradient(rgb(@item.InnerRed , @item.InnerGreen, @item.InnerBlue )30% , rgb( @item.OuterRed, @item.OuterGreen, @item.OuterBlue)">
                                                    <div class="tentaclePart" style="background-image: radial-gradient(rgb(@item.InnerRed , @item.InnerGreen, @item.InnerBlue )30% , rgb( @item.OuterRed, @item.OuterGreen, @item.OuterBlue)">
                                                        <div class="tentaclePart" style="background-image: radial-gradient(rgb(@item.InnerRed , @item.InnerGreen, @item.InnerBlue )30% , rgb( @item.OuterRed, @item.OuterGreen, @item.OuterBlue)">
                                                            <div class="tentaclePart" style="background-image: radial-gradient(rgb(@item.InnerRed , @item.InnerGreen, @item.InnerBlue )30% , rgb( @item.OuterRed, @item.OuterGreen, @item.OuterBlue)">
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="tentacleRoot">
            <div class="tentaclePart">
              <div class="tentaclePart">
                <div class="tentaclePart">
                  <div class="tentaclePart">
                    <div class="tentaclePart">
                      <div class="tentaclePart">
                        <div class="tentaclePart">
                          <div class="tentaclePart">
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="tentacleRoot">
            <div class="tentaclePart">
              <div class="tentaclePart">
                <div class="tentaclePart">
                  <div class="tentaclePart">
                    <div class="tentaclePart">
                      <div class="tentaclePart">
                        <div class="tentaclePart">
                          <div class="tentaclePart">
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="tentacleRoot">
            <div class="tentaclePart">
              <div class="tentaclePart">
                <div class="tentaclePart">
                  <div class="tentaclePart">
                    <div class="tentaclePart">
                      <div class="tentaclePart">
                        <div class="tentaclePart">
                          <div class="tentaclePart">
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
      
      </div>
  
    </div>
          <div style="top:60%; position:relative">
            <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
            <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
            <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            @if(item.alive == true){
            <a asp-action="Attack" asp-route-id="@item.Id">Attack</a>
            }

        </div>
  </div>


}
   
<!-- </div> -->

